@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  margin: 0 auto;
}

.prose code:not([data-language]) {
  @apply border border-neutral-300 font-mono p-1 bg-neutral-300 rounded before:content-none after:content-none text-sm;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words;
  counter-reset: line;
}

[data-rehype-pretty-code-fragment] .line {
  @apply py-0.5 px-4;
}

[data-rehype-pretty-code-fragment] .line::before {
  counter-increment: line;
  content: counter(line) !important;

  /* Other styling */
  display: inline-block;
  width: 0.5rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-fragment] .highlighted {
  @apply bg-blue-300 bg-opacity-10 -mx-4 before:ml-4;
}

[data-rehype-pretty-code-fragment] .word {
  @apply bg-blue-300 bg-opacity-10 p-1 rounded;
}
